<a href="https://colab.research.google.com/github/mahatalakshmi/ml_learning/blob/main/titanic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [97]:
import pandas as pd
from sklearn.linear_model import LogisticRegression
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn import metrics

In [98]:
df= pd.read_csv('train (1).csv')

In [99]:
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [100]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [101]:
df.drop(['Name','Cabin','Ticket','Fare','SibSp','Parch'],axis=1,inplace=True)

In [102]:
df.head()

   PassengerId  Survived  Pclass     Sex   Age Embarked
0            1         0       3    male  22.0        S
1            2         1       1  female  38.0        C
2            3         1       3  female  26.0        S
3            4         1       1  female  35.0        S
4            5         0       3    male  35.0        S

In [103]:
df['Age'].isnull().sum()

177

In [104]:
df["Age"].fillna(df['Age'].mean(), inplace = True)

In [105]:
df.isnull().sum()

PassengerId    0
Survived       0
Pclass         0
Sex            0
Age            0
Embarked       2
dtype: int64

In [106]:
df["Embarked"].fillna( method ='ffill', inplace = True)

In [107]:
df.describe()

       PassengerId    Survived      Pclass         Age
count   891.000000  891.000000  891.000000  891.000000
mean    446.000000    0.383838    2.308642   29.699118
std     257.353842    0.486592    0.836071   13.002015
min       1.000000    0.000000    1.000000    0.420000
25%     223.500000    0.000000    2.000000   22.000000
50%     446.000000    0.000000    3.000000   29.699118
75%     668.500000    1.000000    3.000000   35.000000
max     891.000000    1.000000    3.000000   80.000000

In [108]:
df['Embarked'].value_counts()

S    644
C    169
Q     78
Name: Embarked, dtype: int64

In [109]:
df.replace({'Sex':{'male':0,'female':1},'Embarked':{'S':1,'C':2,'Q':3}},inplace=True)

In [110]:
x=df.drop(['Survived'],axis=1)

In [111]:
y=df['Survived']

In [112]:
X_train, X_test, Y_train, Y_test = train_test_split(x,y, test_size=0.2, random_state=2)

MODEL APPILICATION

LINEAR REGRESSION

In [113]:
model1=LinearRegression()
model1.fit(X_train,Y_train)
x_test_predict=model1.predict(X_test)
error=metrics.r2_score(Y_test,x_test_predict)
error

0.32524489071644347

LOGISTIC REGRESSION

In [114]:
model2=LogisticRegression()

In [115]:
model2.fit(X_train, Y_train)

LogisticRegression()

In [116]:
X_test_prediction = model2.predict(X_test)

In [117]:
X_test_prediction

array([0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 1, 1,
       0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0,
       0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0,
       1, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 1, 0, 0,
       1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 1, 1, 0, 1, 1, 0, 1, 1, 0, 0, 0,
       0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0,
       1, 1, 0, 1, 0, 0, 0, 0, 1, 1, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0,
       1, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0,
       0, 0, 0])

In [118]:
error_score=metrics.r2_score(Y_test,X_test_prediction)

In [119]:
error_score

0.0710126582278483

In [120]:
training_data_accuracy = accuracy_score(Y_test, X_test_prediction)
print('Accuracy score of training data : ', training_data_accuracy)

Accuracy score of training data :  0.770949720670391